<ion-content>
  <form #form="ngForm" (submit)="login(form)">
    <ion-list>
      
      <ion-item>
        <ion-label stacked>E-mail</ion-label>
        <ion-input type="email" name="email" ngModal></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Senha</ion-label>
        <ion-input type="password" name="senha" ngModal></ion-input>
      </ion-item>
      
      <button ion-button color="primary" block> Entrar</button>
      <button ion-button outline color="primary"(click)="cadastrar()"  block>Cadastrar</button>

    </ion-list>
  </form>
</ion-content>